<button nz-button nzType="primary" class="NewTransaction__Button" (click)="handleNew()">
  <i nz-icon nzType="plus"></i>New Transaction
</button>

<nz-table
  *ngIf="transactions"
  #transactionsTable
  [nzData]="transactions"
  [nzLoading]="transactionsTableLoading"
  [nzFrontPagination]="true"
>
  <thead>
    <tr>
      <th>Mnemotechnic</th>
      <th>Date</th>
      <th>Type</th>
      <th>Shares amount</th>
      <th>Share price</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of transactionsTable.data">
      <td>{{ data.mnemotechnic.name }}</td>
      <td>{{ data.date }}</td>
      <td>{{ data.type }}</td>
      <td>{{ data.shares_amount }}</td>
      <td>{{ data.share_price }}</td>
      <td>{{ data.notes }}</td>
      <td>
        <a (click)="handleEdit(data)">Edit</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-drawer
  [nzClosable]="false"
  [nzWidth]="450"
  [nzVisible]="drawerVisible"
  [nzTitle]="(selectedTransaction === 0) ? 'New Transaction' : 'Edit Transaction'"
  (nzOnClose)="handledrawerClose()"
>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="handleSubmit()">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Mnemotechnic</nz-form-label>
      <nz-form-control nzErrorTip="The mnemotechnic is required">
        <input nz-input formControlName="mnemotechnic" placeholder="Mnemotechnic" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="selectedTransaction !== 0">
      <nz-form-label [nzSpan]="7">Type</nz-form-label>
      <nz-form-control>
        <div class="Token__Group" >
          <input nz-input formControlName="type" placeholder="Shares amount" />
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7">Shares amount</nz-form-label>
      <nz-form-control nzErrorTip="The shares_amount is required">
        <nz-input-number class="numeric__Input" [nzMin]="1" [nzMax]="365" [nzStep]="1" formControlName="shares_amount"></nz-input-number>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7">Share price</nz-form-label>
      <nz-form-control>
        <nz-input-number
          class="numeric__Input"
          formControlName="share_price"
          [nzMin]="1"
          [nzStep]="1"
          [nzFormatter]="formatterDollar"
          [nzParser]="parserDollar"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7">Notes</nz-form-label>
      <nz-form-control>
        <textarea rows="4" nz-input formControlName="notes"></textarea>
      </nz-form-control>
    </nz-form-item>

    <div class="Drawer__Footer">
      <button nz-button nzType="default" (click)="handledrawerClose()">Cancel</button>
      <button nz-button nzType="primary" [nzLoading]="isWriting">Submit</button>
    </div>
  </form>
</nz-drawer>
