/* You can add global styles to this file, and also import other style files */
.Drawer__Footer
  position: absolute
  bottom: 0px
  width: 100%
  border-top: 1px solid rgb(232, 232, 232)
  padding: 10px 16px
  text-align: right
  left: 0px
  background-color: #fff

  .ant-btn
    margin-left: 8px
